.employee-add-new {
  float: right;
  margin: 10px 20px;
}

.employeeCog-PersonCard {
  width: 100%;
  display: flex;
  place-content: flex-end;
  padding: 0 10px 0 0;
  cursor: pointer;
}

.employee-add-new:hover {
  animation: scale-up 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.employee-add-new:active {
  animation: scale-down 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-down {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
