@import "./variables-two";

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
  font-display: swap;
}

.wrapper {
  background-color: gray;
  height: 100vh;
}
.main-content {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 7%, 97%);
  width: $sidebar-margin;
  @media screen and (max-width: 900px) {
    width: 100vw;
  }
  height: 100vh;
  bottom: 0;
  right: 0;
  position: fixed;
  .main-navbar {
    background-color: hsl(0, 0%, 90%);
    height: 4em;
  }
}

.btn {
  margin: 2px;
}
